<footer class="footer text-center bg-dark text-light ">
  All Rights Reserved by Matrix-admin. Designed and Developed by
  <a href="https://www.wrappixel.com">WrapPixel</a>.
</footer>
</div> <!-- End Page wrapper -->
</div> <!-- End Wrapper -->

<!-- JS -->
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="/assets/extra-libs/sparkline/sparkline.js"></script>
<script src="/dist/js/waves.js"></script>
<script src="/dist/js/sidebarmenu.js"></script>
<script src="/dist/js/custom.min.js"></script>
<script src="/assets/libs/flot/excanvas.js"></script>
<script src="/assets/libs/flot/jquery.flot.js"></script>
<script src="/assets/libs/flot/jquery.flot.pie.js"></script>
<script src="/assets/libs/flot/jquery.flot.time.js"></script>
<script src="/assets/libs/flot/jquery.flot.stack.js"></script>
<script src="/assets/libs/flot/jquery.flot.crosshair.js"></script>
<script src="/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
<script src="/dist/js/pages/chart/chart-page-init.js"></script>

<script>
  <% if (success_msg) { %>
    swal({
      title: "Success",
      text: "<%= success_msg %>",
      icon: "success",
      button: "Ok",
    });
  <% } %>
  <% if (error_msg) { %>
    swal({
      title: "Error",
      text: "<%= error_msg %>",
      icon: "error",
      button: "Ok",
    });
  <% } %>
</script>
</body>
</html>
